/* Element styles */
body {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    display: inline-block;
  }

aside {
    padding-top: 30px;
}

button {
    display: block;
    margin: auto;
    width: 200px;
    height: 2em;
    margin-top: 4px;
}

/* Class styles */
.welcome {
  margin-bottom: 20px;
}

.container ul {
    list-style-type: none; 
    padding: 0;
}

/* ID styles */
#done, #start {
    width: 80px;
    margin-top: 10px;
}
  
#main {
    margin-bottom: 20px;
    /* font-size: 100px; */
    width: 100%;
    height: 25px;
}
  
#read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
}

#countdown {
  color: brown;
}